body {
  margin: auto;
}

img {
  max-width: 300px;
}

th {
  text-align: left;
}

.container {
  font-family: 'Nunito', sans-serif;
  margin: auto;
}

#root {
  margin: auto;
}
/* ---- HEADER ----- */
h1 {
  font-size: 4em;
  margin-right: 15em;
}

ul {
  list-style: none;
}

li {
  margin-right: 1.75em;
  font-size: 1.25em;
}

.header {
  color: red;
  /* #ededed */
  text-align: center;
}

.switchList {
  font-size: 1.5em;
}
/* ------ FORM ----- */
.form {
  display: inline-block;
  max-width: 25%;
  max-height: 35%;
}

input[type=text] {
  /* background-color: #3CBC8D; */
  width: 90%;
  padding: 3%;
  margin: 1%;
}
