body {
  margin: auto;
  background-image: url("https://i.imgur.com/u49coLj.jpg");

}

img {
  max-width: 300px;
}

li {
  list-style-type: none;
}

th {
  text-align: left;
}

table {
  /* width: 500px; */
}

.beer-list {
  font-family: 'Nunito', sans-serif;
}

.beer-details {
  /* width: 500px; */
}

.container {

  margin: auto;
  background-color: rgba(255,255,255,0.75);
  width:700px;
}

#root {
  margin: auto;
}
/* ---- HEADER ----- */
h1 {
  font-size: 4em;
  margin-right: 15em;
  margin-bottom: -.5em;
}

ul {
  list-style: none;
}

li {
  margin-right: 1.75em;
  font-size: 1.25em;
}

p {
  margin-top: -.75em;
  font-size: 75%;
}

.header {
  color: #444444;
  /* #ededed */
  text-align: center;
}

.switchList {
  font-size: 1.5em;
}
/* ------ FORM ----- */
.form {
  display: inline-block;
  max-width: 95%;
  max-height: 35%;
  text-align: center;
  color: #444444;
}

input[type=text] {
  /* background-color: #3CBC8D; */
  width: 25%;
  padding: 1%;
  margin: 1%;
}

h5 {
  font-weight: normal;
  margin: 0;
}

/* ----- submit button ------- */
button[type=submit] {
  background-color: #444444;
  color: white;
  padding: 1%;
}

/* ---- beer button ----- */
button {
  background-color: #444444;
  color: white;
  padding: 1%;
}
